<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>620243813031-uess99hcfmmngeno0arncjh0fnnjb2jo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.620243813031-uess99hcfmmngeno0arncjh0fnnjb2jo</string>
	<key>API_KEY</key>
	<string>AIzaSyDYAyhhBVoD_wrUJ8M-v6fFKCcyrHo8_4g</string>
	<key>GCM_SENDER_ID</key>
	<string>620243813031</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.whatsUP</string>
	<key>PROJECT_ID</key>
	<string>whatsup-6759f</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsup-6759f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:620243813031:ios:873149c10b914528031182</string>
</dict>
</plist>
